.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #a6a8777d;
}

.grass {
  background-color: #78c8507d;
}

.fire {
  background-color: #f285377d;
}

.water {
  background-color: #6891f07d;
}

.electric {
  background-color: #f7cf2e7d;
}

.ice {
  background-color: #98d5d77d;
}

.ground {
  background-color: #dfbf697d;
}

.flying {
  background-color: #a98ff07d;
}

.poison {
  background-color: #a040a07d;
}

.fighting {
  background-color: #bf30297d;
}

.psychic {
  background-color: #f656877d;
}

.dark {
  background-color: #7258477d;
}

.rock {
  background-color: #b8a1377d;
}

.bug {
  background-color: #a8b7207d;
}

.ghost {
  background-color: #6e58967d;
}

.steel {
  background-color: #b9b7cf7d;
}

.dragon {
  background-color: #6f38f67d;
}

.fairy {
  background-color: #f9aec77d;
}

.pokemon,
.pokemon::after {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: all 0.1s;
}

.pokemon:hover {
  box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.55);
  margin: 0.2rem;
}

.pokemon .pokemon__number {
  color: white;
  font-weight: 900;
  opacity: 0.9;
  text-align: right;
  font-size: 1rem;
}

.pokemon .pokemon__name {
  text-transform: capitalize;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.pokemon .pokemon__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .pokemon__detail .pokemon__types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .pokemon__detail .pokemon__types .pokemon__type {
  color: #fff;
  padding: 0.45rem 0.8rem;
  margin: 0.25rem 0;
  text-transform: capitalize;
  font-size: 0.825rem;
  border-radius: 1rem;
  filter: saturate(2);
  border: 2px solid rgba(255, 255, 255, 0.293);
  text-align: center;
}

.pokemon .pokemon__detail img {
  height: 130px;
  max-width: 70%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

button {
  padding: 0.4rem 0.8rem;
  font-size: 0.925rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (max-width: 390px) {
  .pokemon {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    margin: 50px auto;
    max-width: 80vw;
  }
}
